@import 'scss/variables/_sizes.scss';
@import 'scss/variables/_fontSizes.scss';
@import '_colors.scss';

.noteItem_title {
  font-size: $large !important;
  margin-bottom: 10px;
  max-width: 100%;
  overflow: hidden;
}

.noteItem_container {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  margin: 6px 3px;
  padding: 2px 16px;
  transition: 0.3s;
  width: 45%;
}

.noteItem_container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.noteItem_deleteButton {
  align-self: flex-end;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: #999 !important;
  height: 20px;
  margin-right: -20px;
  width: 20px;
}

.noteItem_deleteButton:active {
  background-color: none !important;
  box-shadow: none !important;
}

.noteItem_text_textArea {
  font-size: $medium !important;
  max-height: 200px !important;
  max-width: 100% !important;
  min-height: 0 !important;
}

.noteItem_text_span,
.noteItem_text {
  font-size: $medium !important;
  margin-bottom: 5px;
  max-height: 65px !important;
  max-width: 100% !important;
  min-height: 0 !important;
  overflow: hidden;
  white-space: break-spaces;
}

.noteItem_buttonContainer {
  font-size: $medium !important;
  max-height: 100px !important;
  max-width: 100% !important;
  min-height: 0 !important;
  width: 100%;
    span {
      display: none !important;
      margin-bottom: auto;
    }
    button {
      padding: $medium/6 $medium/2 !important;
      span {
        display: flex !important;
      }
    }
}
