@import '../../../scss/index.scss';
@import 'scss/variables/_mediaQueries.scss';

.spanFontSize {
  font-size: $small;
}
.spanFontSizeMedium {
  font-size: $large;
}
.spanContainer {
  min-height: 300px;
  width: 30rem;
  word-wrap: break-word;
  @media #{$mobile} {
    height: 100%;
    width: 100%;
  }
}

.spanSizer {
  min-height: 10rem;
}

.textArea,
.textArea:focus {
  margin-bottom: 0.5rem;
  padding: 0;
  @media #{$mobile} {
    min-height: 50vh;
    width: 100%;
  }
}

.deleteButton {
  background-color: $delete-button !important;
  color: $white !important;
}

.wordsQuantitySpan {
  color: $gray;
  font-size: $small;
  font-style: italic;
}

.saveButton {
  background-color: $white !important;
  box-shadow: inset 0px 0px 0px 1px $save-button_shadow;
  margin: 0 0 0 auto;
}

.saveButton:hover {
  background-color: $save-button !important;
}

.saveButton span span {
  padding: 0 3px;
  width: fit-content;
}

.clearButton {
  background-color: $white !important;
  box-shadow: inset 0px 0px 0px 1px $primary-button;
  color: $primary-button !important;
}

.clearButton:hover {
  background-color: $primary-button !important;
  border: none;
  color: $white !important;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bolder;
}
