@import '../../../scss/index.scss';

.button {
  font-size: $medium;
  padding: $medium/3 $medium !important;
  min-width: fit-content !important;
  margin: 0 0 0 0.3rem;

  @media #{$mobile} {
    margin-bottom: 0.3rem;
  }
}
