$black: #333;
$gray: #999;
$white: #fff;
$gray: rgba(0, 0, 0, 0.54);
$disabled-gray: #d5d3d3;
$divider-base: rgba(236, 219, 219, 0.15);
$input-primary: #00d564;
$loading-base: #00af52;
$error: #f44336;
$primary-button: #00d564;
$primary-button-hover: #00af52;
$primary-text-button-hover: #d0f7e2;
$topbar-background: #00d564;

// sass-lint:disable no-misspelled-properties
// sass-lint:disable property-sort-order
:export {
  black: $black;
  white: $white;
  gray: $gray;
  disabledGray: $disabled-gray;
  dividerBase: $divider-base;
  inputPrimary: $input-primary;
  loadingBase: $loading-base;
  error: $error;
  primaryButton: $primary-button;
  primaryButtonHover: $primary-button-hover;
  primaryTextButtonHover: $primary-text-button-hover;
}
