$black: #333;
$gray: #999;
$white: #fff;
$gray: rgba(0, 0, 0, 0.54);
$disabled-gray: #d5d3d3;
$divider-base: rgba(236, 219, 219, 0.15);
$input-primary: #00d564;
$loading-base: #00af52;
$error: #f44336;
$primary-button: #00d564;
$primary-button-hover: #00af52;
$primary-text-button-hover: #d0f7e2;
$topbar-background: #00d564;
$save-button: rgba(84, 140, 255, 0.6);
$save-button_shadow: #548cff;
$delete-button: #ff6363;
$delete-button-disabled: #d36c6c;
$delete-button-text: #f7d0d0;

// sass-lint:disable no-misspelled-properties
// sass-lint:disable property-sort-order
:export {
  black: $black;
  delete-button: $delete-button;
  disabledGray: $disabled-gray;
  dividerBase: $divider-base;
  error: $error;
  gray: $gray;
  inputPrimary: $input-primary;
  loadingBase: $loading-base;
  primaryButton: $primary-button;
  primaryButtonHover: $primary-button-hover;
  primaryTextButtonHover: $primary-text-button-hover;
  save-button: $save-button;
  save-button_shadow: $save-button_shadow;
  white: $white;
}
