@import 'scss/variables/_mediaQueries.scss';

.notesContainer {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  justify-content: space-evenly;
  width: 55%;

  @media #{$mobile} {
    width: 100%;
  }
}

.notesContainer_emptyMsg {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
}
