@import 'scss/variables/_mediaQueries.scss';

.buttonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 0.3rem;
  width: 30rem;

  @media #{$customMobile} {
    flex-wrap: wrap;
    width: 100%;
  }
}
