@import 'scss/variables/_mediaQueries.scss';

.buttonContainer {
  width: 30rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 0.3rem;

  @media #{$mobile} {
    width: 100%;
    flex-wrap: wrap;
  }
}
