@import 'scss/variables/_sizes.scss';
@import 'scss/variables/_fontSizes.scss';
@import '_colors.scss';

$shadow: 0 0 7px 0 rgba(122, 122, 122, 0.81);

.container {
  align-items: center;
  background-color: $topbar-background;
  box-shadow: $shadow;
  display: flex;
  height: $topbar-heigth;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.container img {
  margin-left: auto;
}

.logo {
  height: calc(#{$topbar-heigth} - 40px);
  cursor: pointer;
}

.backButton {
  font-size: $small * 0.9 !important;
  background-color: #ff6363 !important;
  color: $white;
  padding: 0 10px 0 10px;
  margin: -8px 0 0 -20px;
  align-self: flex-start;
  min-width: fit-content !important;
}

.backButton:hover {
  background-color: #c54a4a !important;
}
